a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.content-nav {
    height: 4rem;
    -webkit-box-shadow: 0 0 40px 0 rgba(82,63,105,.1);
    box-shadow: 0 0 40px 0 rgba(82,63,105,.1);
}
}

.content-sidenav{
    height: calc(100vh - 4rem);
}

/* Profile */

.content-profile {
    width: 350px;
    margin: 48px 0;
}

.content-profile-image {
    width: 110px;
}


/* Utils */
.pointer {
    cursor: pointer;
}