<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

  <quartz>
    quartz.scheduler.instanceName = JobScheduler
    quartz.scheduler.instanceId = AUTO
    quartz.threadPool.type = Quartz.Simpl.SimpleThreadPool, Quartz

    # this section configures the scheduler to use sql server ce as the jobstore
    quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
    quartz.serializer.type = binary
    quartz.jobStore.dataSource = default
    quartz.dataSource.default.connectionString = Data Source=192.168.99.100;Initial Catalog=ProjectFlow;User ID=sa;Password=Password123
    quartz.dataSource.default.provider = SqlServer
    quartz.jobStore.tablePrefix = QRTZ_
    quartz.jobStore.useProperties = false
  </quartz>
  
</configuration>
